body {
    background-color:#707070;
}

header {
    background-color:#383838;
    color:#d6ce7b;
}

h2 {
    background-color:#383838;
    color: #d6ce7b;
}

h3 {
    background-color: #383838;
    color: #d6ce7b;
}